.vscode/
datasets/
.ipynb_checkpoints/
previous ML exercises and demos/
previous ML exercises and demos/Anime.ipynb
previous ML exercises and demos/Chapter 1 notes and demos.ipynb
previous ML exercises and demos/classification.ipynb
previous ML exercises and demos/genshin.ipynb
previous ML exercises and demos/housing.ipynb
previous ML exercises and demos/iris_tree.dot
previous ML exercises and demos/iris_tree.png
previous ML exercises and demos/multilabel classification.ipynb
previous ML exercises and demos/Sentence classification.ipynb
previous ML exercises and demos/SVMs.ipynb
previous ML exercises and demos/Training Models.ipynb
previous ML exercises and demos/Untitled.ipynb
previous ML exercises and demos/Untitled1.ipynb